<h1>Welcome <%= @user.name %></h1> 

<h3>You have ----- left in your account</h3>

<form action="/show" method="post">
	
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label>Particulars:</label>
	<input type="string" name="particular">
	<p><%= flash[:particular] %></p>
	<label>Amount ($)</label>
	<input type="float" name="amount">
	<p><%= flash[:amount] %></p>
	<input type="submit" value="submit">
</form>